<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h4>Pending Requests</h4>
      <span *ngFor="let request of requestStatus">
        <p *ngIf="!request.status">
          {{request.record_id}}
        </p>
      </span>
      <span *ngFor="let offer of offerStatus">
        <p *ngIf="!offer.status">
          {{offer.record_id}}
        </p>
      </span>
    </div>
    <div class="col-sm">
      <h4>Accepted Trades</h4>
      <span *ngFor="let request of requestStatus">
        <p *ngIf="request.status">
          {{request.record_id}}
        </p>
      </span>
      <span *ngFor="let offer of offerStatus">
        <p *ngIf="offer.status">
          {{offer.record_id}}
        </p>
      </span>
    </div>
  </div>
</div>