<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h4>Pending Requests</h4>

      <masonry [options]="{transitionDuration: '0.0000001s'}"
        [useImagesLoaded]="true" class="brick-parent">
        <span *ngFor="let brick of bricks">
          <span *ngIf="brick.type == 'request' && !brick.request.loan_status">
            <masonry-brick class="brick" class="brick-container brick">
              <div class="brick-body">
                <img class="pin" [src]="brick.record.image">
              </div>
              <div class="brick-footer">
                <div class="brick-button brick-button-info"
                 (click)="cancelTrade(brick.request)">
                  Cancel Request
                </div>
              </div>
            </masonry-brick>
          </span>
        </span>
      </masonry>

      <masonry [options]="{transitionDuration: '0.0000001s'}"
      [useImagesLoaded]="true" class="brick-parent">
        <span *ngFor="let brick of bricks">
          <span *ngIf="brick.type == 'offer' && !brick.offer.loan_status">
            <masonry-brick class="brick" class="brick-container brick">
              <div class="brick-body">
                <img class="pin" [src]="brick.record.image">
              </div>
              <div class="brick-footer">
                <div class="brick-button brick-button-success"
                  (click)="acceptTrade(brick.offer)">
                  Accept
                </div>
                <div class="brick-button brick-button-danger"
                  (click)="declineTrade(brick.offer)">
                  Decline
                </div>
              </div>
            </masonry-brick>
          </span>
        </span>
      </masonry>
    </div>

    <div class="col-sm">
      <h4>Accepted Trades</h4>

      <masonry [options]="{transitionDuration: '0.0000001s'}"
      [useImagesLoaded]="true" class="brick-parent">
        <span *ngFor="let brick of bricks">
          <span *ngIf="brick.type == 'request' && brick.request.loan_status">
            <masonry-brick class="brick" class="brick-container brick">
              <div class="brick-body">
                <img class="pin" [src]="brick.record.image">
              </div>
              <div class="brick-footer">
                <div class="brick-button brick-button-info"
                  (click)="returnRecord(brick.request)">
                  Return Record
                </div>
              </div>
            </masonry-brick>
          </span>
        </span>
      </masonry>

      <masonry [options]="{transitionDuration: '0.0000001s'}"
      [useImagesLoaded]="true" class="brick-parent">
        <span *ngFor="let brick of bricks">
          <span *ngIf="brick.type == 'offer' && brick.offer.loan_status">
            <masonry-brick class="brick" class="brick-container brick">
              <div class="brick-body">
                <img class="pin" [src]="brick.record.image">
              </div>
            </masonry-brick>
          </span>
        </span>
      </masonry>

    </div>
  </div>
</div>