
<div class="container-fluid">

  <div class="row" *ngIf="currentRoute == 'search'">
    <div class="col-sm">
      <h2>List A Record</h2>
      <form class="form-inline" #form="ngForm" (submit)="search(form.value)">
        <label class="col-form-label col-form-label-sm" 
          for="inlineFormInputGroup">Search by</label>
        <div class="input-group">
          <input type="text" class="form-control form-control-sm" name="artist"  ngModel
            id="inlineFormInputGroup" placeholder="Artist">
          <div class="input-group-addon" (click)="search(form.value)">Search</div>
        </div>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="currentRoute == 'search'">
    <div class="col-sm">
      results
    </div>
  </div>
</div>

  <div class="row" *ngIf="currentRoute == 'records' || currentRoute == 'search'">
    <div class="col-sm" *ngIf="bricks.length > 0">
      <masonry [options]="{transitionDuration: '0.0000001s', stamp: '.stamp',
        columnWidth: '.brick-container', fitWidth: true}"
        [useImagesLoaded]="true" class="brick-parent">
        <masonry-brick class="brick" *ngFor="let brick of bricks"
          class="brick-container brick" [class.stamp]="brick.first">
            <div class="brick-body" *ngIf="!brick.first">
              <img class="pin" [src]="brick.image" style="width: 175px;">
              <span class="overlay">
              </span>
              <template #tipContent>Listen on<br>Last.fm</template>
              <span class="overlay-trade">
                <div class="overlay-controls">
                  <span class="ot-left">
                    <a href="{{brick.url}}">
                      <i class="zmdi zmdi-lastfm"  placement="top"
                      [ngbTooltip]="tipContent"></i>
                    </a>
                  </span>
                  <span class="ot-right" *ngIf="brick.owner != uid">
                    <i class="zmdi zmdi-swap"  placement="top"
                      ngbTooltip="Request a Trade" (click)="requestTrade(brick)" ></i>
                  </span>
                  <span class="ot-right" *ngIf="brick.owner == uid">
                    <i class="zmdi zmdi-close"  placement="top"
                      ngbTooltip="Unlist" (click)="removeRecord(brick)"></i>
                  </span>
                </div>
              </span>
            </div>
            <div class="brick-body" *ngIf="brick.first">
              <img class="pin" [src]="brick.image" style="width: 175px;">
              <span class="overlay-first">
                <p class="ot-left2-first">
                  <a [routerLink]="['/at/search']">
                    <i class="zmdi zmdi-album"></i> List an Album
                  </a>
                </p>
                <p class="ot-left1-first">
                  <a [routerLink]="['/at/my-listings']">
                    <i class="zmdi zmdi-edit"></i> Manage Listings
                  </a>
                </p>
              </span>
            </div>
            <div class="brick-footer" *ngIf="!brick.first" [class.green-footer]="brick.owner == uid">
            <p> <b>{{brick.artist}}:</b> {{brick.name}}</p>
            </div>
            <div class="brick-footer" *ngIf="brick.first" >
              <b style="margin: auto">List albums for trade!</b>
            </div>
          </masonry-brick>
      </masonry>
      <div style="clear: both"></div>
    </div>
    <div class="col-sm text-center" *ngIf="bricks.length === 0">
      <br><br>
      <p>Create a <a [routerLink]="['/at']">Add Records</a> to get started!</p>
      <br><br>
    </div>
  </div>