
<div class="container-fluid">
  <div class="row">
    <div class="col-sm" *ngIf="bricks.length > 0">
      <masonry [options]="{transitionDuration: '0.0000001s'}" [useImagesLoaded]="true">
        <masonry-brick class="brick" *ngFor="let brick of bricks">
            <div class="brick-body">
              <img class="pin" [src]="brick.image" style="width: 175px;">
            </div>
          <div class="brick-footer">
            <ul>
            <li><b>Artist:</b> {{brick.artist}}</li>
            <li><b>Album:</b> </li>
            </ul>
          </div>
          </masonry-brick>
      </masonry>
      <div style="clear: both"></div>
    </div>
    <div class="col-sm text-center" *ngIf="bricks.length === 0">
      <br><br>
      <p>Create a <a [routerLink]="['/at']">New Pin</a> to get started!</p>
      <br><br>
    </div>
  </div>
</div>