<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" 
    type="button" data-toggle="collapse" 
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand navbar-left" href="" [routerLink]="['/at']">
    <span style="font-size: 1.6rem; vertical-align: middle;">
      <!--<i class="zmdi zmdi-refresh-sync"></i>-->
      <i class="zmdi zmdi-album"></i>
    </span> Angular Trading
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
  <div class="navbar-nav mr-auto">
  </div>
  <ul class="nav navbar-nav navbar-right">
    <login-buttons></login-buttons>
    <!--<login-modal></login-modal>-->
  </ul>
  </div>
</nav>
<!--
 !|  Debugging bar with app state outputs and navigation
 !-->
<div class="container-fluid debug-container">
  <div class="row">
    <div class="col-sm">
      <b style="color: seagreen">[ Debug ]</b>
      &nbsp; &nbsp; - &nbsp; &nbsp;
      <b>Navigation: </b>
      <a [routerLink]="['/at']">/at</a>,
      <a [routerLink]="['/at/records']">/at/records</a>
      <a [routerLink]="['/at/trades']">/at/trades</a>
      <a [routerLink]="['/at/demo']">/at/demo</a>
      &nbsp; &nbsp; - &nbsp; &nbsp;
      <b>Authentication: </b>
      &nbsp; Logged In: 
      <span *ngIf="_auth.getAuthState()">yes</span>
      <span *ngIf="!(_auth.getAuthState())">no</span>

      &nbsp; ID:
      <span *ngIf="_auth.getAuthState()">
        {{_auth.getUID()}}
      </span>
      

      &nbsp; &nbsp; - &nbsp; &nbsp;
      <!--<b>UID:</b> {{(_auth.af.auth | async)?.uid}}-->
      <b style="color: seagreen">[ / Debug ]</b>
    </div>
  </div>
</div>
<!--
 !|  End of Debug
 !-->
